<html lang="en">
  <head>
    <title>Desk ticket</title>
    <link rel="stylesheet" href="./css.css">
    <link rel="stylesheet" href="./webkit_toolbar.css">
    <style>
      @import url(https://fonts.bunny.net/css?family=roboto:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=noto-sans-kr:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=inter:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=noto-sans:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=ibm-plex-sans:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=nanum-gothic:300,400,500,700);
    </style>
  </head>
  <body>
    <nav role="navigation" class="primary-navigation">
  <ul>
    <li><a href="#">Group By &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#"> All Tickets</a></li>
        <li><a href="#">Resolved Tickets</a></li>
        <li><a href="#">Closed Tickets</a></li>
        <li><a href="#">My Tickets</a></li>
        <li><a href="#">My Resolved Tickets</a></li>
        <li><a href="#">My Closed Tickets</a></li>
      </ul>
    </li>
    <li><a href="#">Filter By &dtrif;</a>
      <ul class="dropdown">
        <li><form >
          <p>Priority</p>
          <input/>
        </form></li>
      </ul>
    </li>
   
    <li><a href="#">Sort By &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">Subject </a></li>
        <li><a href="#">Ticket ID</a></li>
        <li><a href="#">Created Date</a></li>
        <li><a href="#">1st Response Due</a></li>
        <li><a href="#">Resolution Due</a></li>
        <li><a href="#">Closed Date</a></li>
      </ul>
    </li>
  </ul>
</nav>
    <script src="script.js"></script>
  </body>
</html>