<html lang="en">
  <head>
    <title>Desk ticket</title>
    <link rel="stylesheet" href="./css.css">
    <link rel="stylesheet" href="./webkit_toolbar.css">
    <style>
      @import url(https://fonts.bunny.net/css?family=roboto:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=noto-sans-kr:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=inter:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=noto-sans:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=ibm-plex-sans:300,400,500,700);
    </style>
    <style>
      @import url(https://fonts.bunny.net/css?family=nanum-gothic:300,400,500,700);
    </style>
  </head>
  <body>
    <form autocomplete="off" action="/action_page.php">
    <div class="autocomplete" style="width:300px;" >
      <div class="input-container" >
      
        <input id="myInput" ></input>
        <input class="value-input" name="priority"/>
        <!-- <fieldset aria-hidden="true" class="autocomplete-fieldset"></fieldset> -->
      </div>
      </div>
    </form>

    <script src="script.js"></script>
  </body>
</html>