<html lang="en">
  <head>
    <title>Desk ticket</title>
    <link rel="stylesheet" href="./css.css">
    <link rel="stylesheet" href="./webkit_toolbar.css">
  </head>
  <body>
    <div class="container">
      <div>
        <div class="button-group">
          <button class="btn-contained" class="save-btn" type="submit" value="Submit">Filter</button>
          <button class="btn-outlined" type="button">View All</button>
        </div>
      </div>
      <ul class="timeline-container">
        <li>
          <div class="timeline-item">
            <div class="time-line-date"> <p>2020-04-01 13:07</p></div>
            <hr class="time-line-divider"/>
            <div class="time-line-content">
              <p class="time-line-content-main">Email Sent to toma17@gmail.com</p>
              <p class="time-line-content-sub">by Vora Works</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-item">
            <div class="time-line-date"> <p>2020-04-01 13:07</p></div>
            <hr class="time-line-divider"/>
            <div class="time-line-content">
              <p class="time-line-content-main">Email Sent to toma17@gmail.com</p>
              <p class="time-line-content-sub">by Vora Works</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-item">
            <div class="time-line-date"> <p>2020-04-01 13:07</p></div>
            <hr class="time-line-divider"/>
            <div class="time-line-content">
              <p class="time-line-content-main">Email Sent to toma17@gmail.com</p>
              <p class="time-line-content-sub">by Vora Works</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <script src="script.js"></script>
  </body>
</html>